* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.gz binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.mp4 binary
*.mp3 binary
